body {
	margin-left: 10%;
	margin-right: 10%;
	background-image: url("images/background.jpg");
}

#container {
	border: 5px green solid;
	background-color: white;
}

.header {
	border: 5px red solid;
}

.showcase {
	border: 5px orange solid;
}

.section {
	border: 5px blue solid;
	background-color: #E8FBFB;
	padding: 5px;
	margin-top: 10px;
	margin-left: 0;
}

#date {
	border: 5px purple solid;
}