body {
	margin-left: 10%;
	margin-right: 10%;
	background-image: url("images/background.jpg");
}

img {
	float: right;
}

#container {
	border: 5px green solid;
	background-color: white;
	text-align: left;
	float: left;
}

.header {
	border: 5px red solid;
	text-align: right;
}

.showcase {
	border: 5px orange solid;
}

.section {
	border: 5px blue solid;
	background-color: #E8FBFB;
	padding: 5px;
	margin-top: 10px;
	margin-left: 0;
	text-align: left;
	float: left;
	clear: inherit;
}

#date {
	border: 5px purple solid;
}
