body {
	margin-left: 10%;
	margin-right: 10%;
	background-image: url("images/background.jpg");
}

img {
	float: right;
}

#container {
	border: 10px white solid;
	background-color: white;
	text-align: left;
	float: left;
}

.header {
	background-color: #A8F0F0;
	text-align: right;
}

.showcase {
	font-size: 14pt;
}

.section {
	border: 4px #C2E9E9 solid;
	background-color: #E8FBFB;
	padding: 5px;
	margin-top: 10px;
	margin-left: 0;
	text-align: left;
	float: left;
	clear: inherit;
}

#date {
	border-bottom: 2px blue dashed;
}
